@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-ThinItalic.eot');
    src: url('font/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('font/Roboto-ThinItalic.woff2') format('woff2'),
        url('font/Roboto-ThinItalic.woff') format('woff'),
        url('font/Roboto-ThinItalic.ttf') format('truetype'),
        url('font/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
    /* font-weight: 100; */
    font-style: italic;
    font-display: swap;
}

